* {
    font-family: 'Press Start 2P', cursive;
}

.heading {
    display: flex;
    padding: 1em;
    border: 15px dotted rgb(155, 252, 10);
    justify-content:space-evenly
}

.banner {
    flex: 1;
    padding: 1em;
}

.welcome_gif {
    width: 350px;
    height: 250px;
    border-radius: 20px;
    padding: 1em;
    margin: 1em;
}

.welcome_country {
    flex: 1;
    padding: 1em;
}

.country_name {
    font-size: 54px;
    flex: 2;
}

.banner_thanks {
    flex: 1;
    padding: 1em;
}
.lists {
    display: flex;
    justify-content: space-evenly;
}
.lists__info {
    border-radius: 7em;
    padding:1em;
    border:1em dotted greenyellow;
    margin: 1em;
    font-size: 18px
    

}
.lists__info {
    flex-basis: 30%;
    
}
h3 {
    text-align: center;
    font-size: 26px
}
body {
    background-color: blue;
}
body {
    /* The image used ,will need to save photos to images folder */
      background-image: url("/images/japanbackground2.jpeg");
    
      /* Set a specific height */
      min-height: 500px;
    
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .list__items {
        font-size: 22px
    }
    .listgif {
        border: 10px dotted pink;
        max-height: 300px;
        max-width: 200px;
    }
    .lists__info {
        border: 10px dotted red;
    }
