*{
    font-family: 'ZCOOL KuaiLe', cursive;
}
body {
background-image: url("/images/backround photo.jpeg");
/* Set a specific height */
min-height: 500px;

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

header {
    display: flex;
}
.logo img {
    margin-top:4em;
    height: 400px;
    width: 400px;
    border-radius: 20%;
}

nav {
    display:flex;
    padding: 2em;
}

.nav_button {
    padding:2em;
    font-size:26px;
}
.about {
    font-size: 35px;
    text-align:center;
    margin-top:4em;
}
