*{
  font-family: 'Orbitron', sans-serif;
}


body {
  background-image: url("/images/nzbeach.jpg");
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: flex;
}

.header {
  background-image: url("/images/nzheader1.jpg");
  flex-wrap: wrap;
  border: 8px dotted yellow;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo img {
  margin-top:2em;
  height: 100px;
  width: 100px;
  border-radius: 20%;
  
}

.top {
  display: flex;
  align-content: center;
}

.countryName {
  color: brown;
}

nav {
  display:flex;
  padding: 2em;
  flex-wrap: wrap;
}

.nav_button {
  padding:2em;
  font-size:26px;
  flex-wrap: wrap;
}

.lists {
  display: flex;
  flex: wrap;
  justify-content: space-around;
  padding: 2em;
  margin: 1em 0;
  border: 4px dashed blueviolet;
  opacity: .75;
  overflow: auto;
}

.lists__info {
  border: 2px solid blue;
  padding: 4em;
  margin: 2px 2px;
  background: indigo;
  flex-grow: 1;
  overflow: auto;
}